body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: #76b852;
	font-family: "Roboto", sans-serif;
}
.container {
	min-height: 100%;
	display: flex;
}
.nav {
	color: white;
	margin: 0;
	width: 20%;
	min-width: 300px;
	padding-top: 20px;
	padding-right: 0;
	background: #43A047;
}
ul {
	list-style: none;
	text-align: left;
	color: white;
	font-size: 16px;
}
li {
	text-align: center;
	margin-bottom: 10px;
	/*margin-left: 60px;*/
}
.profile_text{
	font-size: 24px;	
}
.aud1 {
	padding-top: 50px;
	margin-top: 100px;
}
.byOKStop {
	padding-top: 80%;
	font-size: 12px;
}
.okstop_logo {
	display:block;
	margin: 0 auto;
}
.nav a {
	color: white; /* Цвет ссылок */
} 
.nav a:visited {
	color: white; /* Цвет посещенных ссылок */
}
.nav a:active {
	color: white; /* Цвет активных ссылок */
}
.nav a:hover, .nav a:focus {
	color: #188400;
}


.main {
	width: 80%;
	min-height: 750px;/*
	min-width: 600px;*/
	background-color: white;
}
.main p {
	padding-top: 30px;
	font-size: 16px;
	text-align: center;
}
.table_1 {
	min-width: 700px;
	width: auto;
	margin: auto;
	margin-top: 50px;
	border-collapse: collapse;
}
th, td {
	text-align: center;
	border: 1.5px solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.buttons {
	/*position: relative;*/
	text-align: center;
}
button {
	margin-top: 15px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 30%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
button:hover,button:active,button:focus {
	background: #43A047;
}


#okno {
	background-color: white;
    width: 40%;
    height: 80%;
    text-align: center;
    padding: 15px;
    border: 3px solid #4CAF50;
    border-radius: 10px;
    color: #188400;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300;
    margin: auto;
}
#okno:target {display: block;}

.row_sf {
	padding:  auto;
	margin-top: 20px;
}
.searching {
	position: absolute;
	padding: 20px 20px 0 50px;
}
.filtr {
	text-align: left;
	padding-left: 50%;
	position: absolute;
}
.table_2_container_container {
	padding-top: 50px;
}
.table_2_container {
	overflow-y: scroll;
	/*overflow-x: hidden;*/
	min-width: 85%;
	height: 150px;
	margin: 50px;
}
.table_2 {
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}
.table_2 th, td {
	height: auto;
	text-align: center;
	border: 1.5px solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.close {
	display: inline-block;
	border: 1px solid #0000cc;
	color: #0000cc;
	padding: 0 12px;
	margin: 10px;
	text-decoration: none;
	background: #f2f2f2;
	font-size: 14pt;
	cursor:pointer;
}
.close:hover {background: #e6e6ff;}